nav {
  height: 10vh;
  width: 100vw;
}
a {
  text-decoration: none;
  color: inherit;
  padding: 30px;
  margin: 0 3px;
  display: inline-block;
  background-color: #00B17F;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

a:hover {
  background: #18CE8F;
  transition: background-color 0.5s ease-out;

}
